
body { 
	font-size: meduium; 
	font-family: sans-serif;
}


#masthead {
	position: relative;
	border: 3px solid #999;
	border-radius: 15px;
	background-color: #AAAAAA;
	color: #000000;
	padding-left: 10px;
	height:75px;
}



h1 {
	font-size: 250%;
	line-height: 20px;
	letter-spacing: 10px;
}

#wrapper{
	margin: 0px auto;
	width: 100%;
}

#masthead {
	/*background-image: url("lego_coat_hanger.JPG");*/
	background-position: 0% 40%;
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0.3;
}

#masthead_text {
	position:absolute;
	color:#66AA66;
	margin-left:78px;
	/*background:-webkit-gradient(linear, left top, right top, from(rgba(90,90,90,0.0)), to(rgba(90,90,90,0.0)), color-stop(.5,#33AA33));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
}


#masthead_link {
	position:absolute; 
  	width:100%;
  	height:100%;
  	top:0;
  	left: 0;
  	z-index: 1;
  	/*background-image: url('/images/empty.gif');*/
}



#masthead_image {
	width:60px;
	height:60px;
	background-position:center;
	border:4px solid #33AA33;
	-moz-background-size:120%;
	-webkit-background-size:120%;
	-moz-border-radius:52px;
	-webkit-border-radius:52px;
	background-size:120%;
	border-radius:52px;
	margin-right:10px;
	margin-top:6px;
}


#toolbar_wrapper {
	margin:3px;
}

#flash_error {
	color:red;
}

#flash_msg {
	font-color:green;
}


.mm_content_layout_header{
	color:#66AA66;
}


#mm_testcase_matrix_header{
	float:left;
}



.mm_table_wrapper{
	width:300px;
	padding:15px;
	height:250px;
	float:left;
	border-radius:15px;
	margin-left:15px;
	background:#EEEEEE;
	border:2px solid lightgray;
}

.mm_table_wrapper_wide{
	width:400px;
	height:250px;
	float:left;
}

.mm_table_step_text {
	width:334px;
	padding-left:0px;
	float:left;	
}

#mm_testcase_table_wrapper{
	margin-left:0px;
	/*margin-left:auto;
	margin-right:auto;*/
}


#mm_parameter_table_wrapper{
	/*margin-right:auto;*/
}


#mm_value_table_wrapper{	
	/*margin-left:auto;*/
}



.mm_matrix_wrapper{
	
	margin:auto;
	margin-top:15px;
	background-color:lightgray;
	padding:20px;
	border:2px solid gray;
	clear:both;
	border-radius: 30px;
}

.mm_matrix_cell{
	border: 2px solid gray;
	float:left;
	width: 10%;
	height: 50px;
	border-radius: 15px;
	text-align: center;
	margin-left:5px;
	background-color:#AAAAAA;
}


.mm_matrix_cell[resultState='pass']{
	background-color:#33EE33;
}

.mm_matrix_cell[resultState='fail']{
	background-color:#EE3333;
}

.mm_cell_selected{
	border:4px solid black;
}



.mm_matrix_row{
	clear:both;
	padding-top:10px;
	padding-bottom:10px;
}



/*TOOLTIP STUFF FROM JQUERY UI.COM*/
.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}


/*Dialog form stuff from JQuery UI demo: http://jqueryui.com/dialog/#modal-form*/
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }


/*RIGHT-CLICK MENU STUFF*/
#mm_context_menu {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #ddd;
    border: 2px solid gray;
}

.mm_menu_separator {
	border:1px solid black;
	margin-top:5px;
	margin-bottom:5px;
}





.content_box {
	margin-top: 10px;
	border: 2px solid #999;
	border-radius: 15px;
	background: #CCCCCC;
	padding: 0px 0px 20px 10px;
}


/*Login Modal Stuff*/

/** page structure **/
#w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
}
 
#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
 
/** custom login button **/
.flatbtn-blu { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  border: 0;
  color: #edf4f9;
  text-decoration: none;
  background-color: #4f94cf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 1.3em;
  font-weight: bold;
  padding: 12px 26px 12px 26px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.flatbtn-blu:hover {
  color: #fff;
  background-color: #519dde;
}
.flatbtn-blu:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}


#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
 
#loginmodal {
  width: 300px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
 
#loginform { /* no default styles */ }
 
#loginform label { display: block; font-size: 1.1em; font-weight: bold; color: #7c8291; margin-bottom: 3px; }
 
.txtfield { 
  display: block;
  width: 100%;
  padding: 6px 5px;
  margin-bottom: 15px;
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
  color: #7988a3;
  font-size: 1.4em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edf3f9), to(#fff));
  background-image: -webkit-linear-gradient(top, #edf3f9, #fff);
  background-image: -moz-linear-gradient(top, #edf3f9, #fff);
  background-image: -ms-linear-gradient(top, #edf3f9, #fff);
  background-image: -o-linear-gradient(top, #edf3f9, #fff);
  background-image: linear-gradient(top, #edf3f9, #fff);
  border: 1px solid;
  border-color: #abbce8 #c3cae0 #b9c8ef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
 
.txtfield:focus {
  outline: none;
  color: #525864;
  border-color: #84c0ee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
}


/*
background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#333));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent
*/