/*.section { 
	border: 1px solid #999;
	border-radius: 15px;
	background-color: #99CCFF;
	color: #AAAAAA;
	padding-left: 10px;
	margin-left: 10px;
}*/

h1 {
	font-size: 250%;
	line-height: 20px;
	letter-spacing: 30px;
}

#masthead {
	background-image: url("lego_coat_hanger.JPG");
	background-position: 0% 45%;
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0.3;
}

#masthead_text {

}


/*
background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#333));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent
*/